.interactiveContainer {
    width: 100%;
    font-family: Arial, sans-serif;
}
/* Edit top to fit tabBar height: 35px */
/* Edit height to display full map: 500px */
.tabBar {
    font: 14px/16px Arial, Helvetica, sans-serif;
    margin-top: 15px;
}
/* Edit width based on number of tabs to display
In this example, width = 9% for 10 tabs + cell borders */
.tabItem {
    width: 9%;
    padding: 2px 0px 2px 0px;
    float: left;
    margin-left: -1px;
    border: #aaa solid 1px;
    border-right: none;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    color: #ccc;
}
.tabItem:first-child {
    border-radius: 7px 0px 0 7px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.tabItem:last-child {
    border-radius: 0px 7px 7px 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: 1px solid #aaa;
}
.tabItem:hover {
    color: #E34B4B;
}
.tabItem.selected {
    color: maroon;
    background: #eee;
    box-shadow: inset 1px 1px 7px -2px #555;
    color: white !important;
    font-weight: 400;
    border: 1px solid #E34B4B !important;
    background: #E34B4B !important;
    pointer-events: none;
}
/* Edit top to fit tabBar height: 35px */
/* Edit height to display full map: 500px */
.tabBar2 {
    font: 14px/16px Arial, Helvetica, sans-serif;
    margin-top: 15px;
}
/* Edit width based on number of tabs to display
In this example, width = 9% for 10 tabs + cell borders */
.tabItem2 {
    width: 9%;
    padding: 2px 0px 2px 0px;
    float: left;
    margin-left: -1px;
    border: #aaa solid 1px;
    border-right: none;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    color: #ccc;
}
.tabItem2:first-child {
    border-radius: 7px 0px 0 7px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.tabItem2:last-child {
    border-radius: 0px 7px 7px 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: 1px solid #aaa;
}
.tabItem2:hover {
    color: #E34B4B;
}
.tabItem2.selected2 {
    color: maroon;
    background: #eee;
    box-shadow: inset 1px 1px 7px -2px #555;
    color: white !important;
    font-weight: 400;
    border: 1px solid #E34B4B !important;
    background: #E34B4B !important;
    pointer-events: none;
}
/*Edit width of info box */
.info {
    width: 235px;
    padding: 12px 16px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.areaName {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}
.faded {
    opacity: 0.4;
}
.areaLabel {
    float: left;
    width: 100%;
    font-family: Arial, sans-serif;
}
.areaValue {
    float: left;
    width: 70%;
    font-size: 14px;
    font-family: Arial, sans-serif;
}
/*Edit width of legend*/
.legend {
    width: 130px;
    position: absolute;
    right: 0px;
    bottom: 10px;
    text-align: left;
    line-height: 18px;
    color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 1;
}
